BURN_ADDR=0x000000000000000000000000000000000000dead
CURRENCY=0x79dac4c6aaff683328b9d000ffd5030c8b1e9df2
WATCHER=https://watcher-info.mainnet.v1.omg.network
USER_THREAD=https://www.reddit.com/r/OMGnetwork/comments/i0hn9r/ox/
USER_AGENT=node-js:v1
CLIENT_ID=id
CLIENT_SECRET=secret
USERNAME=foo
PASSWORD=bar
SUB=baz
SENTRY_DSN=dsn