.Home {
  display: flex;
  flex-direction: column;
  .address {
    margin-bottom: 20px;
  }
  .pointbalance {
    margin-bottom: 20px;
  }
  .transferButton {
    margin-top: 20px;
  }
  .input {
    margin-top: 10px;
  }
}