FEE_RELAYER_PORT=<server port>
FEE_RELAYER_PRIVATE_KEYS=<comma separated list of private keys to pay fees>
FEE_RELAYER_SPENDABLE_TOKEN=<token fee relayer will accept>

FEE_RELAYER_USE_DB=<set to true if using a DB for communicating between instances>
DATABASE_URL=<database connection string>

OMG_FEE_TOKEN=<the erc20 token for fees>
OMG_PLASMA_CONTRACT=<address of the plasma framework contract>
OMG_WATCHER_URL=<url of the watcher>
