FEE_RELAYER_PORT=<server port>
FEE_RELAYER_ADDRESS=<address of the fee paying account>
FEE_RELAYER_PRIVATE_KEY=<private key of the fee paying account>
FEE_RELAYER_SPENDABLE_TOKEN=<token fee relayer will accept>

OMG_FEE_TOKEN=<the erc20 token for fees>
OMG_PLASMA_CONTRACT=<address of the plasma framework contract>
OMG_WATCHER_URL=<url of the watcher>
