@import 'app/styles/colors';

.Home {
  position: relative;
  display: flex;
  flex-direction: column;
  .address {
    margin-bottom: 20px;
  }
  .pointbalance {
    margin-bottom: 20px;
  }
  .transferButton {
    margin-top: 20px;
  }
  .input {
    margin-top: 10px;
  }
  .disclaimer {
    color: $gray4;
  }
  .leaderboardLink {
    color: $gray4;
    text-align: center;
    transition: all 200ms ease-in-out;
    margin-top: 30px;
    &:hover {
      cursor: pointer;
      color: $orange;
    }
  }
}