.Loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 300px;
  .icon {
    position: relative;
    .reddit {
      margin-bottom: 10px;
      width: 80px;
    }
    .spinner {
      position: absolute;
      right: -14px;
      bottom: -2px;
      width: 38px;
      animation: spin 1.5s linear infinite;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
