@import 'app/styles/colors';

.Transactions {
  display: flex;
  flex-direction: column;

  .more {
    color: $gray3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    &:hover {
      color: $orange;
    }
  }

  .transaction {
    border: 1px solid $gray1;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    transition: all 200ms ease-in-out;
    &:hover {
      background-color: $gray1;
    }

    &.flash {
      animation-name: flash-animation;
      animation-duration: 2s;
    }

    .arrow {
      margin-right: 15px;
      &.incoming {
        transform: rotate(180deg);
      }
    }

    .data {
      display: flex;
      flex-direction: column;
      flex: 1;

      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .direction {
          font-weight: bold;
          margin-bottom: 5px;
        }

        .rawAmount {
          font-weight: bold;
        }

        .info {
          display: flex;
          flex-direction: row;
          align-items: center;

          .status {
            padding: 3px 7px;
            transition: all 200ms ease-in-out;
            background-color: $green;
            border-radius: 4px;
            margin-right: 5px;
            &.pending {
              background-color: $yellow;
            }
          }

          .address {
            margin-right: 5px;
          }
        }

        .timestamp {
          font-size: 8px;
          line-height: 21px;
        }
      }
    }
  }
}

@keyframes flash-animation {  
  from { background-color: rgba(255, 221, 100, 0.5); }
  to   { background-color: default; }
}
