@import 'app/styles/colors';

.ErrorView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  .icon {
    width: 80px;
  }
  .rawError {
    color: $red;
    font-size: 0.8em;
  }
}
