@import 'app/styles/colors';

.ErrorView {
  display: flex;
  flex-direction: column;
  .icon {
    align-self: flex-start;
    margin-bottom: 20px;
  }
  .rawError {
    color: $red;
  }
  .button {
    margin-top: 20px;
    align-items: center;
    img {
      margin-left: 7px;
      height: 12px;
    }
  }
}
